

// Custom settings

// $c-gray-light: #edf3f6;
// $c-primary: #1abc9c;
// $c-secondary: #9b59b6;
// $c-light: #34495e;
//
// $bdc-base: #465f78;
// $bgc-body: #2c3e50;

$c-text: #fff;
$bgc-body: #6856cb;
$c-button-outlined: #fff;
$c-primary: #fa5877;
$bdr-button: 3px;
