/**
 * Demo website styles
 */




// main logo
.main-logo{

  width: 250px;

  @include breakpoint(bp-small, max-width) {
    max-width: 200px;
  }

}

// code
pre[class*=language-]>code[data-language] {
  max-height: none !important;
  overflow: auto !important;
}

pre[class*=language-]>code[data-language]::before {
  display: none !important;
}

code[class*=language-], pre[class*=language-] {
  color: $text-color!important;
  text-shadow: none!important;
}

:not(pre)>code[class*=language-], pre[class*=language-] {
  background-color: $brand-dark!important;
}

.token.boolean, .token.constant, .token.number, .token.property, .token.symbol, .token.tag {
  color:$text-gray!important;
}

.token.lf::before {
  display:none!important;
}
