/**
 * Demo website styles
 */

body {
  @include media-breakpoint-up(sm) {
    padding-top: 80px;
  }
  padding-top: 60px;
}

.anchor {
  display: block;
  position: relative;
  top: -65px;
  visibility: hidden;
}

// main logo
.main-logo{
  @include media-breakpoint-down(sm) {
    width: 100px;
  }
  width: 150px;
  fill: #03a9f4;
}

// Alignment example images
@media screen and (max-width: 550px) {
  .example-image {
    width: 50px;
  }
}

// Theme customization example images

.examples {
  width: 100%;
}

.example1,
.example2, {
  background-color: $c-gray-light;
  display: inline-block;
  max-width: 300px;
  padding: 16px;
  text-align: center;

}
@media screen and (max-width: 550px) {
  .example1,
  .example2, {
    max-width: 100%;
  }

  .example1 img,
  .example2 img, {
    width: 100% !important;
  }
}


// code
.language-js {

}
:not(pre) > code[class*="language-"], pre[class*="language-"] {
  background-color: $c-light !important;
}

pre {
  margin-bottom: 2em !important;
  overflow-x: auto;
}

.example-code {
  max-width: 700px;
}

.example-code pre[class*="language-"] {
  font-size: 14px;
  margin: 0 !important;
}

.token.tag {
  background-color: transparent;
  border-radius: 0;
  color: #905;
  line-height: auto;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    display: none;
  }
}
.token.operator {
  background: none !important;
}


// Header
//
$bgc-header: $c-white !default;
$bxsh-header: $bxsh-medium !default;
$p-header: $p-big 0 !default;
$z-header: 2000 !default;

.header {
  @include media-breakpoint-up(sm) {
    padding: $p-header;
  }

  background-color: $bgc-header;
  box-shadow: $bxsh-header;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: -100%;
  z-index: $z-header;

  &::after {
    background: linear-gradient(to left, rgba(255, 255, 255, 1) 0%, rgba(255 , 255, 255, 0) 100%);
    bottom: 0;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
  }

  &.is-visible {
    display: block;
    top: 0;
  }

  &-inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &-logo {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    position: relative;

    &::after {
      background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255 , 255, 255, 0) 100%);
      bottom: 0;
      content: '';
      position: absolute;
      right: -12px;
      top: 0;
      width: 12px;
    }

    &Image {
      @include media-breakpoint-up(sm) {
        margin-right: $m-small;
      }
      margin-right: $m-small;
    }
  }

  &-github {
    flex-shrink: 0;

    &Image {
      @include media-breakpoint-up(sm) {
        margin-right: 0;
      }
      margin-right: 12px;
    }
  }

  &-nav {
    @include media-breakpoint-up(sm) {
      margin-right: 0;
      padding: 0;
    }
    align-items: center;
    display: flex;
    margin: 0;
    margin-right: -12px;
    overflow-x: scroll;
    padding: 20px $p-big 20px $p-medium;
    white-space: nowrap;

    &Item {
      margin: 0;
      margin-right: $m-medium;

      &:last-child{
        margin-right: 0;
      }
    }
  }
}

.hide-small {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
