/**
 * Demo website styles
 */

// main logo
.main-logo{
  width: 250px;
  @include media-breakpoint-down(sm) {
    max-width: 200px;
  }
}

// code
.language-js {
  background-color: $c-gray-light;
  display: inline-block;
  padding: 10px;
}

pre {
  margin-bottom: 2em !important;
  overflow-x: auto;
}

// Alignment example images
@media screen and (max-width: 550px) {
  .example-image {
    width: 50px;
  }
}
